@charset "UTF-8";
/* Variables: paleta de color, fonts y propiedades estándar */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
/* 'Dancing Script' */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");
/* 'Kalam' */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/* 'Kaushan Script' */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
/* 'Roboto Condensed' */
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?78180543");
  src: url("../font/fontello.eot?78180543#iefix") format("embedded-opentype"), url("../font/fontello.woff2?78180543") format("woff2"), url("../font/fontello.woff?78180543") format("woff"), url("../font/fontello.ttf?78180543") format("truetype"), url("../font/fontello.svg?78180543#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.socialmedia-icon {
  font-family: "fontello";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  padding: 1rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Estructura del sitio */
/* <-- BODY --> */
.body {
  width: 100%;
  background-color: #d9d9d9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body-index {
  height: 100vh;
}
@media (min-width: 769px) {
  .body-index {
    /* Grid para desktop */
    display: grid;
    gap: 1rem 1rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "gallery gallery gallery header" "gallery gallery gallery button" "footer footer footer footer";
  }
}
@media (max-width: 768px) {
  .body-index {
    /* Grid para tablet y moblile */
    align-items: center;
  }
}
.body h2 {
  font-family: "Dancing Script";
  font-size: 3rem;
}
.body h3 {
  font-family: "Kaushan Script";
  font-size: 2.5rem;
}

/* <-- HEADER --> */
.header nav {
  /* En 'website.html' el header es un navbar de Bootstrap  */
  background-color: #0d0d0d;
}
.header nav a {
  letter-spacing: 0.1rem;
}
.header img {
  height: 5.3rem;
  margin: 1rem;
}
@media (max-width: 480px) {
  .header .hm-logo {
    /* En mobile el logo no es visible. */
    display: none;
  }
}
.header-index {
  grid-area: header;
  display: flex;
  align-items: center;
}
@media (min-width: 769px) {
  .header-index {
    /* Grid para desktop */
    flex-direction: column;
  }
}
.header-index h1 {
  color: #595959;
}
.header-index h2 {
  color: #595959;
}
@media (max-width: 768px) {
  .header-index h2 {
    display: none;
  }
}

footer {
  height: min-content;
  background: linear-gradient(to top, #595959, #d9d9d9);
  padding: 0.3vw;
}
footer ul {
  padding: 0.25vw;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
footer ul li a {
  color: #262626;
}
footer ul li a:hover {
  color: #0d0d0d;
}
footer ul li a:visited {
  color: #262626;
}

/* Diseño del Index */
/* <-- INDEX --> */
.body-index .gallery-index {
  grid-area: gallery;
  display: grid;
  gap: 1rem 1rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "bv1 tc2 bh3" "bv1 bh9 bv9" "th3 bh7 bv9";
}
.body-index .gallery-index img {
  box-shadow: 0 0 10px #0D0D0D;
  transition: transform 2s;
}
.body-index .gallery-index img:hover {
  transform: scale(1.05);
}
@media (min-width: 769px) {
  .body-index .gallery-index img {
    /* Grid para desktop */
    width: 15vw;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .body-index .gallery-index img {
    /* Grid para tablet */
    width: 20vw;
  }
}
@media (max-width: 480px) {
  .body-index .gallery-index img {
    /* Grid para mobile */
    width: 25vw;
  }
}
.body-index .gallery-index .bh3 {
  grid-area: bh3;
}
.body-index .gallery-index .bh7 {
  grid-area: bh7;
}
.body-index .gallery-index .tc2 {
  grid-area: tc2;
}
.body-index .gallery-index .th3 {
  grid-area: th3;
}
.body-index .gallery-index .bv1 {
  grid-area: bv1;
}
.body-index .gallery-index .bv9 {
  grid-area: bv9;
}
.body-index .gallery-index .bh9 {
  grid-area: bh9;
}
.body-index a {
  grid-area: button;
}
.body-index footer {
  width: 100%;
  grid-area: footer;
  align-self: flex-end;
}

/* Diseño del Website */
/* <-- WEBSITE --> */
/* El margen superior se calcula en base al tamaño del navbar. */
.website-contents {
  margin: 9.3rem 2vw 0 2vw;
}
.website-contents .content-container {
  margin-top: 5vh;
}
.website-contents .content-container .content {
  background-color: #969595;
  padding: 5vw;
}

/* <-- WEBSITE-CONTENTS ABOUT-ME --> */
.about-me {
  /* Tamaño de la foto de perfil en desktop */
}
@media (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
  }
}
@media (min-width: 769px) {
  .about-me {
    display: flex;
    justify-content: center;
    margin: 2vw;
  }
}
.about-me img {
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 1em;
  transition: transform 2s;
}
.about-me img:hover {
  transform: rotate(-15deg);
}
.about-me div {
  margin-left: 2vw;
  text-align: center;
}
.about-me div h2 {
  text-align: left;
}
.about-me div p {
  font-family: "Kalam";
}
.about-me div p strong {
  font-size: 1.25em;
}
.about-me div p .quote {
  font-family: "Palanquin", sans-serif;
  font-size: 2em;
}

/* <-- WEBSITE-CONTENTS CONTACT --> */
.contact {
  margin-bottom: 10vh;
}
.contact form {
  padding: 0 5vw 1vw 5vw;
}

/* <-- WEBSITE-CONTENTS PORTFOLIO --> */
.portfolio div .subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio div .subtitle-container p {
  font-family: "Kalam";
  text-align: center;
}
.portfolio div div div div {
  height: 58vh;
}
.portfolio div div div .vertical-photo-container img {
  height: 100%;
}
/* <-- WEBSITE-CONTENTS PROPOSAL --> */
.proposal .card .card-img {
  opacity: 0.5;
}
.proposal .card .card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.proposal .card .card-img-overlay .card-title {
  color: #0d0d0d;
}

/*# sourceMappingURL=style.css.map */
