/* <-- WEBSITE-CONTENTS PORTFOLIO --> */
$img-relation: 1.5;
$max-size: 90vw;
$max-size-lg: 50vw;

.portfolio{
    .content{
        .subtitle-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                font-family: map-get($fonts, handwriting), map-get($fonts, handwriting-secondary);
                text-align: center;
            }
        }

        .carousel-inner{

            .carousel-item{
                height: $max-size/$img-relation;

                @media (min-width: map-get($size, bootstrap-lg)){
                    height: $max-size-lg/$img-relation;
                }

                .carousel-img-h{
                    width: $max-size;

                    @media (min-width: map-get($size, bootstrap-lg)){
                        width: $max-size-lg;
                    }
                }

                .carousel-img-v{
                    height: $max-size/$img-relation;

                    @media (min-width: map-get($size, bootstrap-lg)){
                        height: $max-size-lg/$img-relation;
                    }
                }
            }
        }
    }
}