/* <-- WEBSITE-CONTENTS PORTFOLIO --> */
.portfolio{
    h2{

    }

    div{
        .subtitle-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                font-family: map-get($fonts, handwriting), map-get($fonts, handwriting-secondary);
                text-align: center;
            }
        }

        div{
            div{
                div{
                    height: 58vh;
                }
                .vertical-photo-container{
                    img{
                        height: 100%;
                    }
                }
            }

            button{

            }
        }
    }
}