/* <-- WEBSITE-CONTENTS PORTFOLIO --> */
.portfolio{
    h2{

    }

    div{
        div{
            h3{
                margin-top: 5vh;
                margin-bottom: 2vh;
            }

            p{

            }
        }

        div{
            div{
                div{
                    height: 58vh;
                }
                .vertical-photo-container{
                    img{
                        height: 100%;
                    }
                }
            }

            button{

            }
        }
    }
}