/* <-- BODY --> */
.body{
    width: 100%;
    background-color: map-get($colors , light);
    font-family: map-get($fonts , general), map-get($fonts , secondary);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-index{
        height: 100vh;

        @media (min-width: map-get($size , min-desktop)){
        /* Grid para desktop */
            @include grid(4);
            grid-template-areas:
            "gallery gallery gallery header"
            "gallery gallery gallery button"
            "footer footer footer footer";
        }
    
        @media (max-width: map-get($size , max-tablet)){
            /* Grid para tablet y moblile */
            align-items: center;
        }
    }

    h2{
        font-family: map-get($fonts , titles), map-get($fonts , titles-secondary);
        font-size: 3rem;
    }

    h3{
        font-family: map-get($fonts , subtitles), map-get($fonts , titles-secondary);
        font-size: 2.5rem;
    }
}