$icon-size: 2.5vw;
$icon-size-tablet-mobile: 25px;

footer{
    height: min-content;
    background: linear-gradient(to top, map-get($colors , middle), map-get($colors , light));
    padding: 0.3vw;

    ul{
        padding: 0.25vw;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        li{

            a{
                img{
                    width: $icon-size;
                    height: $icon-size;
                    margin-right: 3px;

                    @media (max-width: map-get($size, max-tablet)){
                        /* Tamaño mínimo de los íconos de redes para tablet y mobile */
                        width: $icon-size-tablet-mobile;
                        height: $icon-size-tablet-mobile;
                    }
                }
            }
        }
    }
}