$icon-size: 2.5vw;
$icon-size-tablet-mobile: 25px;

footer{
    height: min-content;
    background: linear-gradient(to top, map-get($colors , middle), map-get($colors , light));
    padding: 0.3vw;

    ul{
        padding: 0.25vw;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        li{

            a{
                color: map-get($colors , mid-dark);

                &:hover{
                    color: map-get($colors, dark);
                }

                &:visited{
                    color: map-get($colors , mid-dark);
                }
            }
        }
    }
}