/* <-- WEBSITE --> */
/* El padding superior de cada sección se calcula en base al tamaño del navbar para que no quede por debajo. */
$padding-top: ($size-header-img + 2 + ($padding-header-img*2));
$margin-aside: 2vw;

.website-contents{
    margin: 0 $margin-aside 0 $margin-aside;

    .content-container{
        padding-top: $padding-top;
        
        .content{
            background-color: map-get($colors , mid-light);
            padding: 5vw;
        }
    }
}